<%= simple_form_for @oil, url: bike_oil_path(bike_id: @bike.id, id: @oil.id), method: :put do |f| %>

  <%= f.input :oil_change, label: 'distance where oil was changed', 
              error: "value must be present and be digits", input_html: { maxlength: 50 } %>
  <br/>
  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-success btn-sm" %> |
    <%= link_to 'Back', bike_oils_path(bike_id: @bike.id), class: "btn btn-default btn-sm" %>
  </div>
<% end %>
