
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <li>Логин: <%= @user.name %></li>
        <li><%= @user.email %></li>
      </h1>  
    </section>
  </aside>
