<div id="about-container">
<h1>О проекте ТКМото</h1>
<hr/>
	<h4>
    	<p>Данный проект разрабатывается в целях отработки навыков веб-программирования с использованием языка Ruby и фреймворка Rails. Назначение проекта ТКМото - сбор статистических данных о мотоциклах компании - данные по топливу, ремонту, замене зап. частей, пробегу, движению по покрытиям различного типа и прочих параметров с последующим математическим расчетом характеристик, мат. моделированием вероятных отказов, графической визуализацией обработанной информации.</p>
    	<br/>
    	В проекте применены следующие языки, решения и технологии:<br/>
    	<li>бэкенд и MVC-каркас - Ruby-On-Rails 5.0;</li>
    	<li>база данных - PostgreSQL 9.5;</li>
    	<li>средства тестирования - Rspec, Capybara;</li>
    	<li>разметка, адаптация и дизайн - Bootstrap 3, CSS 3;</li>
    	<li>фронтенд и графическая часть - JavaScript (JQuery), ZingaCharts;</li>
    	<li>взаимосвязь фронт-бэкенд - JSON, AJAX;</li>
    	<li>валидация данных - средствами ActiveRecord;</li>
    	<li>ООП структура сайта;</li>
    	<li>контроллеры, модели и страницы покрыты тестами;</li>
    	<li>адаптивный дизайн сайта для отображения на портативных устройствах;</li>
    	<li>Git-система контроля версий.</li>
	</h4>
<br/>
	<h4>
        <p>Обновлено до версии 0.1</p>
        <li>добавлена аутенфикация и регистрация;</li>
        <li>добавлено управление пользователями;</li>
        <br/>
		<p>Сейчас в разработке:</p><br/>
		<li>уровни доступа пользователей к управлению контентом;</li>
		<li>админ. панель.</li>
		<br/>
		<p>Планы на дальнейшее развитие проекта:</p>
		<li>сбор статистики по ремонту и обслуживанию байка;</li>
		<li>сбор статистики о движении по покрытию различного рода;</li>
		<li>визуализация расчетных и эмпирических данных в виде графиков и диаграмм;</li>
		<li>интеграция гугл-карт для отображения посещенных мест и треков;</li>
		<li>встроенный блог и чат.</li>
		<li>альбом с фотографиями поездок с привязками к гугл-карте;</li>
		<li>бот-поддержка через сеть Вконтакте или Telegram;</li>
		<li>... и все что понадобится впредь.</li>
		</p>
	</h4>
<hr/>


</div>