<div id="about-container">
<h3>О проекте ТКМото</h3>
<hr/>
<h5>
  <p>Назначение проекта ТКМото - сбор данных по топливу, ремонту, замене зап. частей, пробегу мотоцикла</p>
  <br/>
</h5>

<h5>
  <p>Обновлено до версии 0.2</p>
  <li>тотальный рефакторинг всего ранее написанного;</li>
  <li>обновление механизма и модели сбора данных;</li>
  <li>миграция старой БД сохранением данных;</li>
  <li>обновление топливной и ремонтной статистики;</li>
  <br/>
</h5>

<br/>
<h5>
  <p>Обновлено до версии 0.1</p>
  <li>добавлена аутенфикация и регистрация;</li>
  <li>добавлено управление пользователями;</li>
  <br/>
  <p>Сейчас в разработке:</p><br/>
  <li>уровни доступа пользователей к управлению контентом;</li>
  <li>админ. панель.</li>
  <br/>
  </p>
</h5>
<hr/>
</div>