<%= simple_form_for :bike_config, url: bike_bike_configs_path(@bike), method: :put do |f| %>

  <%= f.input :oil_change, label: 'Distance for oil change, km', as: :integer, input_html: { maxlength: 10 } %>
  <br/>
  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-success btn-sm" %> |
    <%= link_to 'Back', bike_path(@bike), class: "btn btn-default btn-sm" %>
  </div>
  
<% end %>