<h1>New bike</h1>

<% if @bike.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <ul>
      <% @bike.errors.each do |attribute, error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form', bike: @bike %>