<h2> Редактировать запись статистики по топливу </h2>
<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-6">
    <%= render 'form_fuel_edit', stata_fuel: @stata_fuel %>
  </div>
</div>